.footer{
    height: 6%;
    background-color: rgb(191, 242, 198);
    justify-content: center;
    position: fixed;
    bottom: 0;
  }
  span{
    padding-top: 15px;
  }
  h3{
    font-size: 0.9rem;
    padding-left: 20px;
    display: flex;
    color: #2c0d9c;
    padding: 5px;
  }
